 
 
 <div class="row img" class="menu" >
     
        <img src="./../../../assets/images/222.png"  width="80%" style="margin-left:-5%; margin-top: -2%;" >
 </div>
   
 <div class="row" class="menu" style="margin-top: 7%;" >
    <div    class="col-md-1 inline">     </div>
     
    <div    class="col-md-2 inline">
        <a (click)="achat()"><img src="../../assets/images/achat.png"  width="100px"/>
            <h2>Achat</h2>
        </a>
    </div>
    <div class="col-md-2 inline">
        <a (click)="vente()"><img src="../../assets/images/chair.png" width="70px" />
            <h2>Table</h2>
        </a>
    </div>
    <div class="col-md-2 inline">
        <a (click)="vente()"><img src="../../assets/images/vente.png" width="100px" />
            <h2>Vente</h2>
        </a>
    </div>
    <div class="col-md-2 inline">
        <a (click)="config()"  ><img src="../../assets/images/config.png"  width="100px"/>
            <h2>Configuration</h2>
        </a>
    </div>

    <div class="col-md-2 inline">
        <a (click)="caisse()" ><img src="../../assets/images/caisse.png"  width="80px" />
            <h2 style="text-align: center;">Sessions/caisse</h2>
        </a>
    </div>
    <div    class="col-md-1 inline">     </div>
 
</div>


 
 