 
 
 <div class="row">
    <div    class="col-md-10 inline">
        <img src="./../../../assets/images/menu-image.png"  width="200px" style="margin-left: 35%; margin-top: 10%;">

    </div>
    <div    class="col-md-1 inline">
        <div style=" " (click)="decnx()">
            <img src="./../../assets/images/sess-save.png" style="margin-top: 6%;" width="50px"> 
            <h2>{{user.nom}} </h2>
            </div>
    </div>
 </div>
   
 <div class="row" class="menu" style="margin-top: 10%;" >
    
     
    <div    class="col-md-2 inline">
        <a (click)="achat()"><img src="../../assets/images/achat.png"  width="100px"/>
            <h2>Achat</h2>
        </a>
    </div>
    <div class="col-md-2 inline">
        <a (click)="vente()"><img src="../../assets/images/vente.png" width="100px" />
            <h2>Vente</h2>
        </a>
    </div>
    <div class="col-md-2 inline">
        <a (click)="config()"  ><img src="../../assets/images/config.png"  width="100px"/>
            <h2>Configuration</h2>
        </a>
    </div>

    <div class="col-md-4 inline">
        <a (click)="caisse()" ><img src="../../assets/images/caisse.png"  width="100px" />
            <h2 style="text-align: center;">Sessions/caisse</h2>
        </a>
    </div>
    
 
</div>


 
 