<div class="row" >
    
        
             
                <a class="nav-link" routerLink="/menu/accueil"><img src="./../../assets/images/homme.png" title="Accuiel"
                    width="50px" ></a>
            
           
                <a class="nav-link" (click)="vente()" > <img (click)="vente" title="Vente"
                    src="./../../assets/images/vente.png"   width="100px"  style="margin-left: -30px;"  ></a>  
            
                <a class="nav-link" (click)="tickets()"><img src="./../../assets/images/tickets.png"    title="Tickets"
                    width="50px" style="margin-left: -20px;" ></a>
            
              <a class="nav-link" (click)="factures()"><img src="./../../assets/images/logiciel-facturation.jpg"    title="Factures"
                width="50px"></a>
          
                <a class="nav-link" (click)="caisse()"><img src="./../../assets/images/caisse.png"    title="Caisse"
                    width="70px" style="margin-left: -15px;"></a>
           
                <a class="nav-link" (click)="config()"><img src="./../../assets/images/config.png" 
                    width="80px" style="margin-left: -30px;"></a>
             
                <a class="nav-link" (click)="achat()"><img src="./../../assets/images/achat.png"    
                    width="70px" style="margin-left: -35px;"></a>
            
                <a class="nav-link" (click)="lister_achat()"><img src="./../../assets/images/archive.jpg" 
                    width="50px" style="margin-left: -20px;"></a>
            
                <a class="nav-link" (click)="rapport()"><img src="./../../assets/images/rapport.png"  
                    width="50px" style="margin-left: -9px;" ></a>
            
                <a class="nav-link" (click)="donnees()"><img src="./../../assets/images/configuration.jpg" 
                    width="35px" ></a>

                <a class="nav-link" ><img src="./../../assets/images/sess-save.png" 
                    width="40px"  > ali ben mohamed</a>
            <!-- (click)="decnx()"  -->

        
     
    <div class="col-md-12 ">
        <router-outlet></router-outlet>
    </div>
</div>