<h1
  style="text-align: center;margin-top: 3%;margin-bottom: 3%; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); font-size: 300%;">
  Equipement </h1>

 

<div class="tab-content" style="margin-top: 7%;">
  <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
    <div class="row">
      <div class="col-md-8">
        <div class="main-card mb-3 card" style="margin-left: 2%;">
          <div class="card-body">
            <button class="btn btn-success" style="margin-left: 60%;" (click)="mettre_a_jour()"><i class="fa fa-plus" aria-hidden="true"></i> Mise à jour
            </button> 
            <div class="row">
              <h2 style="margin-left: 5%;">Balance</h2> 
            </div>
          </div>
          <div class="main-card mb-3 card" style="margin-left: 2%;">
            <div class="card-body">

              <div class='table'>
                <div class='row2'>
                  <div class='cell1'>
                    <table class="table table-striped " height="50%">
                      <thead>
                        <tr>
                          <th>id</th>
                          <th>code</th>
                          <th>prix</th> 
                          <th>nom</th>
                          <th>param2</th>                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of liste_balance; let i = index; ">
                          <td>
                            <i class="pe-7s-pen" (click)="modifer_balance(i,obj.id,obj.nom)" title="Modifier  "></i>
                          </td>
                          <td>
                            {{obj.code}}
                          </td>
                          <td>
                            {{obj.prix}}
                          </td>
                          <td>
                            {{obj.param1}}
                          </td>
                          <td>
                            {{obj.param2}}
                          </td>
                           
                        </tr>
                        <tr><td></td><td></td><td></td><td></td><td> <button class="btn btn-primary" style="margin-left: 60%;" (click)="Ajouter_balance()"><i class="fa fa-plus" aria-hidden="true"></i>  
                        </button></td>
                         
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-4">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="row">
              <h2 style="margin-left: 5%;"> Caisse</h2>
              <button class="btn btn-primary" style="margin-left: 60%;" (click)="Ajouter_caisse()"><i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              
            </div>
          </div>
          <div class="main-card mb-3 card" style="margin-left: 2%;">
            <div class="card-body">
              <div class='table'>
                <div class='row2'>
                  <div class='cell1'>
                    <table class="table table-striped ">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Nom </th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of liste_caisse; let i = index; ">
                          <td>
                            <i class="pe-7s-pen" (click)="modifer_caisse(i,obj.id ,obj.nom)" title="Modifier  "></i>
                          </td>
                          <td>
                            {{obj.nom}}
                          </td>
                          <td>
                            <i class="pe-7s-trash" (click)="Supprimer_caisse(i,obj.id)" title="Supprimer  "></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

   

    </div>
  </div>
</div>