<h1
    style="text-align: center;margin-top: 3%;margin-bottom: 6%; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); font-size: 300%;">
    Session des Caisses</h1>


<div class="position-relative custom-control"  >
    <section [formGroup]="form">

        <mat-form-field style=" width: 13%;  ">
            <mat-label> Caisse </mat-label>
            <mat-select (selectionChange)="choix_caisse($event)" formControlName="caisse">
                <mat-option *ngFor="let obj of liste_caisse" [value]="obj"> {{obj.nom}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style=" width: 13%; margin-left: 2%;">
            <mat-label> Utilisateur </mat-label>
            <mat-select (selectionChange)="choix_utilisateur($event)" formControlName="utilisateur">
                <mat-option *ngFor="let obj of liste_Utilisateur " [value]="obj"> {{obj.nom}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="custom-width" style=" width: 13%; margin-left: 2%;">
            <mat-label>Fond</mat-label>
            <input matInput placeholder="Nom" type="number"  [matKeyboard]="'de-CH'" formControlName="fond"  id="id">
            <mat-error>Fond</mat-error>

        </mat-form-field> 

        <button type="button" (click)="verifier_avant_ouvrire()" class="btn btn-primary" style="margin-left: 15%;">Démarrer </button>
        <mat-form-field style=" width: 13%; margin-left: 2%;">
            <mat-label> Etat </mat-label>
            <mat-select (selectionChange)="choix_etat($event)" formControlName="Utilisateur" aria-placeholder="kg">
                <mat-option value="ouvert"> ouvert </mat-option>
                <mat-option value="clôturé"> clôturé</mat-option>
            </mat-select>
        </mat-form-field>

           <mat-form-field style="margin-left: 2%; width: 13%;">
            <mat-label> Date d'ouverture</mat-label>
            <input matInput [matDatepicker]="picker"  formControlName="date" (dateChange)="filtre()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('date').invalid">
              Date session   </mat-error>
           </mat-form-field>

    </section>
</div>


<div class="mat-elevation-z8" style="width: 98%; height: 500px;overflow-y: scroll;">
    <table mat-table [dataSource]="dataSource" matSort>



        <!--Colonne responsable -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
        </ng-container>


        <!--Colonne Ancien ID -->
        <ng-container matColumnDef="caisse">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Caisse </mat-header-cell>
            <mat-cell *matCellDef="let element" d> {{element.caisse.nom}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="utilisateur">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Utilisateur </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.utilisateur.nom}} </mat-cell>
        </ng-container>

        <!--Colonne Réclamation -->
        <ng-container matColumnDef="fond">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fond </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fond}} </mat-cell>
        </ng-container>

        <!--Colonne email -->
        <ng-container matColumnDef="solde">
            <mat-header-cell *matHeaderCellDef mat-sort-header> solde </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Valeur"> {{element.solde}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="etat">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Etat </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Prix"> {{element.etat}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_debut">
            <mat-header-cell *matHeaderCellDef mat-sort-header> date d'ouverture   </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Prix"> {{element.date_debut | date: 'dd/MM/yyyy - HH:mm'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_fin">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date de clôture </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Prix"> {{element.date_fin | date: 'dd/MM/yyyy - HH:mm' }} </mat-cell>
        </ng-container>

        <!--Colonne supprimer -->
        <ng-container matColumnDef="sup">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: center;" data-label=" ">
                <i class="pe-7s-lock" (click)="fermer(element.id)" title="Fermer"
                    style="color: red;  margin-left: 15px;">
                </i>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <mat-paginator [pageSizeOptions]="[8,50,100]" showFirstLastButtons></mat-paginator>
</div>