<h1
  style="text-align: center;margin-top: 3%;margin-bottom: 6%; text-shadow: 2px 4px 3px rgba(0,0,0,0.3); font-size: 300%;">
  Produit</h1>
 

  <div class="position-relative custom-control" style="margin-left: 5%;">
  <section [formGroup]="form">
    <mat-form-field class="custom-width" style="width: 5%;"  >
      <mat-label>ID</mat-label>
      <input matInput placeholder="ID" formControlName="id" (keyup)="filtre()" id="id">
     </mat-form-field>
    <mat-form-field class="custom-width"  style=" width: 10%; margin-left: 2%;" >
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom" formControlName="nom" (keyup)="filtre()" id="id">
     </mat-form-field>
     <mat-form-field class="custom-width"  style=" width: 13%; margin-left: 2%;">
      <mat-label>Code a barre</mat-label>
      <input matInput placeholder="216548" formControlName="code" (keyup)="filtre ()" id="id">
     </mat-form-field>
     <mat-form-field style=" width: 13%; margin-left: 2%;">
      <mat-label> Catégorie </mat-label>
      <mat-select (selectionChange)="choix_categorie($event)" formControlName="unite" aria-placeholder="kg"   >
          <mat-option *ngFor="let obj of liste_categorie" [value]="obj.id">    {{obj.nom}}</mat-option>
      </mat-select>       
     </mat-form-field>

    <mat-form-field style=" width: 13%; margin-left: 2%;">
      <mat-label> Unité </mat-label>
      <mat-select (selectionChange)="choix_unite($event)" formControlName="unite" aria-placeholder="kg"  >
          <mat-option *ngFor="let obj of liste_unite" [value]="obj.id">  {{obj.nom}}</mat-option>
      </mat-select>      
  </mat-form-field>
  
  
    <button type="button" routerLink="/menu/config/ajouter-produit/-1" class="btn btn-primary" style="margin-left: 15%;">Ajouter</button>

  </section>
</div>  

 
<div class="mat-elevation-z8" style="width: 98%; height: 500px;overflow-y: scroll;">
  <table mat-table [dataSource]="dataSource" matSort>
      <!--Colonne id -->
      <ng-container matColumnDef="editer">
          <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="ID">
              <i class="pe-7s-pen" title="Modifier "
                  routerLink="/config/ajouter-produit/{{element.id}}">
              </i>
          </mat-cell>
      </ng-container>

       <!--Colonne responsable -->
       <ng-container matColumnDef="qte">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Qte </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="id"> {{element.qte}}</mat-cell>
       </ng-container>

      <!--Colonne id -->
      <ng-container matColumnDef="Image">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
          <!-- <mat-cell *matCellDef="let element" data-label="ID" > {{element.id_Fr}} </mat-cell>   -->
          <mat-cell *matCellDef="let element" data-label="Image">
              <img src="data:image/png;base64,{{element.image}}"
                  style="height: 50px;width: 50px;margin-top: 2px; margin-bottom: 2px;" />
          </mat-cell>
      </ng-container>
      <!--Colonne responsable -->
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="id"> {{element.id}}</mat-cell>
      </ng-container>


      <!--Colonne Ancien ID -->
      <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nom  </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Nom Client"> {{element.nom}} </mat-cell>
      </ng-container>
      <!--Colonne Réclamation -->
      <ng-container matColumnDef="categorie">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Categorie  </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Categorie"> {{element.categorie.nom}} </mat-cell>
      </ng-container>

      <!--Colonne Réclamation -->
      <ng-container matColumnDef="unite">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Unité </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label=" Unité"> {{element.unite.nom}} </mat-cell>
      </ng-container>

      <!--Colonne email -->
      <ng-container matColumnDef="valeur">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Valeur Unité </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Valeur"> {{element.valeur_Unite}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="prix_vente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Prix vente </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Prix"> {{element.prix_vente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Code Barre </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Code"> {{element.code_Barre}} </mat-cell>
  </ng-container>
    

      <!--Colonne supprimer -->
      <ng-container matColumnDef="sup">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element" style="text-align: center;" data-label=" ">
              <i class="pe-7s-trash" (click)="supprimer(element.id)" title="Supprimer"
                  style="color: red;  margin-left: 15px;">
              </i>

          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[10,50,100]" showFirstLastButtons></mat-paginator>
</div>