
<h1 style="text-align: center;margin-top: 3%;margin-bottom: 6%;  font-size: 300%; color: #f08e01;">Configuration</h1>
 
<div>
    <div class="menu" style="margin-top: 10%;">
        <div class="inline">
            <a routerLink="/menu/config/produit"><img src="../../assets/images/produit.png" />
                <h2>Produit</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/caisse"><img src="../../assets/images/caisse.png" />
                <h2>Session Caisse</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/prix"><img src="../../assets/images/prix.png" />
                <h2>G - Prix</h2>
            </a>
        </div>

        <div class="inline">
            <a routerLink="/menu/config/utilisateur"><img src="../../assets/images/users.png" />
                <h2>Utilisateur</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/balance"><img src="../../assets/images/machine.png" />
                <h2>Caisse </h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/categorie"><img src="../../assets/images/categorie.png" />
                <h2>Catégorie</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/tickets"><img src="../../assets/images/tickets.png" />
                <h2>Tickets</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/factures"><img src="../../assets/images/logiciel-facturation.jpg" />
                <h2>Factures</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/factures"><img src="../../assets/images/chair.png"   />
                <h2>Tables</h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/factures"><img src="../../assets/images/formule.jpg" />
                <h2>formules </h2>
            </a>
        </div>
        <div class="inline">
            <a routerLink="/menu/config/composant"><img src="../../assets/images/img-acc.jpg" />
                <h2>Inventaire  </h2>
            </a>
        </div>

    </div>


</div>